<div id='close' ng-click="close()" ng-show="modal">
</div>
<form class="modal col-md-offset-3 col-md-6" ng-submit="create()" ng-show="modal">
    <label>Commit Message:</label>
    <input type-"text" class="form-control" placeholder="Changed Some Stuff" ng-model="message"/>
</form>
<aside>
	<button ng-show="repo" ng-click="new()" class="col-md-12">Save File</button>
	<label ng-class="{ start: !repo }">Choose a Repo:</label>
	<select class="form-control" ng-model="repo">
        <option ng-repeat="ro in repos" value="{{$index}}">{{ro.name}}</option>
    </select>
    <ul>
		<li ng-repeat="cont in repoContents" file="cont" repo="repos[repo].name"  ng-class="{ folder: cont.type == 'dir' }">
		  <ul ng-if="folder: cont.type == 'dir'" folder="cont.path" repo="repo"></ul>
		</li>
	</ul>
</aside>
<article class='app col-md-9'>
	<nav class='col-md-12 files'>
		<ul>
			<li class="active col-md-3">{{currentFile}}</li>
			<li class="col-md-offset-3 col-md-5">Share: http://localhost:9001/#/user/{{currentSession}}</li>
		</ul>
	</nav>
	<div ui-ace="aceOption" ng-change="update()" ng-model="aceModel"></div>
</article>