<div id='close' ng-click="close()" ng-show="modal">
</div>
<form class="modal col-md-offset-3 col-md-6" ng-submit="create()" ng-show="modal">
    <label>New File:</label>
    <input type-"text" class="form-control" placeholder="file.js" ng-model="newFile"/>
</form>
<aside>
	<button ng-show="repo" ng-click="new()" class="col-md-12">New File</button>
	<select class="form-control" ng-model="repo">
        <option ng-repeat="ro in repos" value="{{$index}}">{{ro.name}}</option>
    </select>
    <!--
      [TREE attribute]
      angular-treeview: the treeview directive
      tree-model : the tree model on $scope.
      node-id : each node's id
      node-label : each node's label
      node-children: each node's children
    -->
<!--     <div
      data-angular-treeview="true"
      data-tree-model="roleList"
      data-node-id="roleId"
      data-node-label="roleName"
      data-node-children="children" >
    </div> -->
    <ul>
		<li ng-repeat="cont in repoContents" file="cont" repo="repos[repo].name" ng-click="openItem($event)" ng-class="{ folder: cont.type == 'dir' }">
		
		</li>
	</ul>
</aside>
<article class='app col-md-9'>
	<nav class='col-md-12 files'>
		<ul>
			<li class="active col-md-1">App.js</li>
		</ul>
	</nav>
	<div class='col-md-12' id="firepad-container">Content</div>
</article>